body {
  background-color: #668697;
  color: #e3c69a;
  margin-top: 50px;
  text-align: center;
}

form {
  align-items: center;
	display: flex;
  justify-content: center;
  margin-top: 24px;
}

#prev-guesses-msg {
  font-size: 24px;
  margin-top: 24px;
}

#prev-guesses {
  font-size: 20px;
  margin-top: 16px;
}

#guess-button,
#reset-button {
  margin-left: 24px;
  border-radius: 10%;
}